# W16D4 - Consegna finale

In [224]:
import pandas as pd
import numpy as np
import humanize as hz

covid = pd.read_csv("owid-covid-data.csv", low_memory=False, header=0, sep=",")
covid.sample(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
206941,MRT,Africa,Mauritania,2020-04-03,5.0,0.0,0.429,NaN,0.0,0.000,...,NaN,15.950,NaN,64.92,0.546,4736146.0,NaN,NaN,NaN,NaN
297540,SEN,Africa,Senegal,2021-12-29,74353.0,0.0,30.286,1890.0,0.0,0.571,...,16.6,20.859,NaN,67.94,0.512,17316452.0,NaN,NaN,NaN,NaN
8105,AND,Europe,Andorra,2021-10-11,15291.0,0.0,9.857,130.0,0.0,0.000,...,37.8,NaN,NaN,83.73,0.868,79843.0,NaN,NaN,NaN,NaN
20140,AUS,Oceania,Australia,2021-12-21,266843.0,0.0,4498.429,2308.0,0.0,7.714,...,16.5,NaN,3.84,83.44,0.944,26177410.0,NaN,NaN,NaN,NaN
99053,ERI,Africa,Eritrea,2021-08-30,6639.0,0.0,2.714,37.0,0.0,0.000,...,11.4,NaN,0.70,66.32,0.459,3684041.0,NaN,NaN,NaN,NaN

### 1. Verificare le dimensioni del dataset e le diciture presenti nell'intestazione;

In [ ]:
print(covid.shape)

In [201]:
dim = covid.shape
print(f'La dimensione del dataset è {dim}')
print(f'I metadati sono:\n {covid.columns}')

La dimensione del dataset è (377018, 67)
I metadati sono:
 Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

### 2. Per ogni continente di trovare il numero di casi totali avvenuti in quello stesso continente, non considerando i dati non appartenenti ad alcun continente;

In [199]:
# prendo in esame solo le colonne di interesse e rimuovo i record con continent == NaN
covid_clean_aux = pd.read_csv("owid-covid-data.csv", low_memory=False, header=0, sep=",", usecols=[1, 5, 34])
covid_clean = covid_clean_aux.dropna(subset=['continent'])

print(covid.shape)           # | verifico che i record non appartenti a nessun continente
print(covid_clean.shape) # | siano stati eliminati

(377018, 67)
(358948, 3)

In [236]:
group = covid_clean.groupby('continent')
total_cases = group.new_cases.sum()
print(total_cases)

continent
Africa            13136517.0
Asia             301391174.0
Europe           252013370.0
North America    124526003.0
Oceania           14741735.0
South America     68752780.0
Name: new_cases, dtype: float64

### 3. Sempre riguardo i casi di COVID totali, si chiede di sviluppare una funzione che prenda in input il dataset e due nomi di continenti, e che ne confronti i seguenti relativi descrittori statistici: valori minimo e massimo, media, e percentuale rispetto al numero dei casi totali nel mondo (calcolati anche sulle locazioni senza indicazione di continente);

In [232]:
def statCases(dataframe, continent1, continent2):
    filtro_1 = dataframe.loc[dataframe.continent==continent1, :]
    filtro_2 = dataframe.loc[dataframe.continent==continent2, :]
    max_continent1 = hz.intword(filtro_1.new_cases.max())
    min_continent1 = hz.intword(filtro_1.new_cases.min())
    avg_continent1 = hz.intword(filtro_1.new_cases.mean())
    max_continent2 = hz.intword(filtro_2.new_cases.max())
    min_continent2 = hz.intword(filtro_2.new_cases.min())
    avg_continent2 = hz.intword(filtro_2.new_cases.mean())
    somma = dataframe.new_cases.sum()
    percTot_1 = hz.intword((filtro_1.new_cases.sum()*100)/somma)
    percTot_2 = hz.intword((filtro_2.new_cases.sum()*100)/somma)
    dati = {'max':[max_continent1, max_continent2],
            'min':[min_continent1, min_continent2],
            'media':[avg_continent1, avg_continent2],
            '% su tot':[percTot_1, percTot_2]}
    indici = [continent1, continent2]
    report = pd.DataFrame(dati, index=indici)
    print(report)

In [233]:
statCases(covid_clean_aux, 'Oceania', 'South America') # prova

                          max min         media % su tot
Oceania        588.8 thousand   0           411        0
South America     1.3 million   0  3.3 thousand        2

### 4. Si chiede poi di effettuare lo stesso tipo di analisi – anche in questo caso sviluppando una funzione ad hoc per il numero di vaccinazioni totali per ogni continente;

In [229]:
def statVacc (dataframe):
    continents = list(dataframe.continent.unique())
    for continent in continents:
        filtro = dataframe.loc[dataframe.continent == continent]
        max_vacc = hz.intword(filtro.new_vaccinations.max())
        min_vacc = hz.intword(filtro.new_vaccinations.min())
        avg_vacc = hz.intword(filtro.new_vaccinations.mean())
        somma = dataframe.new_vaccinations.sum()
        percTot = hz.intword((filtro.new_vaccinations.sum()*100)/somma)
        print(f'In {continent} il massimo dei vaccinati è stato {max_vacc}, mentre il minimo {min_vacc}.\n In media sono stati vaccinati {avg_vacc} individui e in percentuale sul mondo sono stati il {percTot} %.')

In [230]:
statVacc(covid)

In Asia il massimo dei vaccinati è stato 24.7 million, mentre il minimo 0.
 In media sono stati vaccinati 484.2 thousand individui e in percentuale sul mondo sono stati il 14 %.
In nan il massimo dei vaccinati è stato NaN, mentre il minimo NaN.
 In media sono stati vaccinati NaN individui e in percentuale sul mondo sono stati il 0 %.
In Europe il massimo dei vaccinati è stato 2.4 million, mentre il minimo 0.
 In media sono stati vaccinati 55.1 thousand individui e in percentuale sul mondo sono stati il 2 %.
In Africa il massimo dei vaccinati è stato 1.9 million, mentre il minimo 0.
 In media sono stati vaccinati 42.2 thousand individui e in percentuale sul mondo sono stati il 0 %.
In Oceania il massimo dei vaccinati è stato 351.2 thousand, mentre il minimo 1.
 In media sono stati vaccinati 56.0 thousand individui e in percentuale sul mondo sono stati il 0 %.
In North America il massimo dei vaccinati è stato 7.2 million, mentre il minimo 0.
 In media sono stati vaccinati 161.9 thousand individui e in percentuale sul mondo sono stati il 1 %.
In South America il massimo dei vaccinati è stato 4.0 million, mentre il minimo 1.
 In media sono stati vaccinati 141.7 thousand individui e in percentuale sul mondo sono stati il 1 %.

### Differenze tra Europa, Sud America e Oceania.

#####